#mainDiv {
    height: 100vh;
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: scroll;
}

#postsDiv {
    height: 100vh;
    background-color: #143642;
}

#bigMainMessage {
    color: #143642 !important;
    font-size: 50px !important;
    font-family: 'Open Sans', sans-serif;
    font-display: bold;
}

#smallMainMessage {
    color: #143642 !important;
    font-size: 20px !important;
    font-family: 'Open Sans', sans-serif;
}

#messageDiv {
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
    padding: 10px;
}

#author_info {
    font-size: 12px !important;
}

#post_info {
    vertical-align: middle;
}

.post {
    border: #143642;
    border-bottom: 0.25px solid;
    padding: 15px;
}

.category {
    font-size: 15px !important;
    padding: 10px;
    float: right;
}

#topPosts {
    background-color: #143642 !important;
    height: 20%;
    font-size: 16px !important;
    font-family: 'Open Sans', sans-serif;
}

p {
    padding: 10px;
}

.btn {
    background-color: #ffffff !important;
    font-size: 20px !important;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    display: block;
    border: #143642;
    border: 2px solid;
    padding: 14px 28px;
}

nav .navbar-nav li a {
    color: #143642 !important;
    font-size: 23px !important;
    font-family: 'Open Sans', sans-serif;
    border-bottom: #143642;
    border-bottom: 1.25px solid;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
